.layout{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    background-color: #ffff;
    padding-top: 30px;
    flex-wrap: wrap;
    gap:10px;
}
.title{
    color: #201e2f;
    font-weight: 600;
}

.layout__child{
    display: flex;
    flex-direction: column;
    gap:10px;
}